In [2]:
import pandas as pd

In [18]:
dataset = pd.read_csv('Data.csv', index_col = 0) # No Index In dataframe

In [19]:
dataset

          Age   Salary Purchased
Country
France   44.0  72000.0        No
Spain    27.0  48000.0       Yes
Germany  30.0  54000.0        No
Spain    38.0  61000.0        No
Germany  40.0      NaN       Yes
France   35.0  58000.0       Yes
Spain     NaN  52000.0        No
France   48.0  79000.0       Yes
Germany  50.0  83000.0        No
France   37.0  67000.0       Yes

In [24]:
dataset.to_html('edu.html')  # here is the Html file

In [25]:
print(dataset.to_html)

<bound method DataFrame.to_html of           Age   Salary Purchased
Country
France   44.0  72000.0        No
Spain    27.0  48000.0       Yes
Germany  30.0  54000.0        No
Spain    38.0  61000.0        No
Germany  40.0      NaN       Yes
France   35.0  58000.0       Yes
Spain     NaN  52000.0        No
France   48.0  79000.0       Yes
Germany  50.0  83000.0        No
France   37.0  67000.0       Yes>